.posts-list {
  padding: 0;
}

.posts-list-item {
  list-style: none;
  padding: 0.9em 0;
  color: $dark-color; //메인 화면 글 목록 시간, 날짜 등의 색상

  &:not(:last-child) {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
  }
}

.posts-list-item-description {
  display: flex;
  align-items: center;
  font-size: 0.8em;

  > .icon {
    margin-right: 0.4em;
    color: $dark-color; //메인 화면 글 목록 아이콘 색상

  }
}

.posts-list-item-separator {
  margin: 0 0.4em;
}
